.container{
  margin-left: 3%;
  padding: 0;
  }
  h1{
    color:darkslategray !important;
  }
  hr{
    margin-top: 1%;
    border-color:darkgrey;
  }
 .container .add-inventory{
float: right;
  }
a:hover{
  cursor: pointer;
}
