.fields{
  margin-right: 5%;
  width: 45%;
}
.red-asterik{
  color: red;
}
.categroy-dropdown{
  width: 260px;
  border:1px solid #ccc;
}
.caret{
  position: absolute;
  top: 18px;
  left: 230px;
}
.category-list{
  height: 140px;
  overflow-y: auto;
  width: 260px;
}
.category-list .list-item{
  padding: 10px;
}
.category-list .list-item:hover{
  background: #e5e5e5;
  cursor: pointer;
}
.category-selected{
  position: relative;
  top: -27px;
  left: 12px;
}
.dropdown-class button:hover , button:focus{
  background: transparent;
}
.dropdown-class{
  height:27px;
}
