<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
 <form #myform = "ngForm" (ngSubmit) = "onSubmit(myform)">
   <div style="display: flex;margin-bottom: 6%;">
    <div class="fields">
      <label>Name:</label><span class="red-asterik">*</span>
      <input type="text" class="form-control" name="name" ngModel [ngModel]="editName" id="name"  (ngModelChange)="nameValueChange($event)" placeholder="Enter item name">
      <div class="text-danger" *ngIf="nameIsEmpty">
        Name is required
      </div>
    </div>
    <div class="fields">
  <label>Quantity:</label><span class="red-asterik">*</span>
  <input type="number" class="form-control" name="quantity" ngModel id="quantity" [ngModel]="editQuantity" min="1" (ngModelChange)="quantityValueChange($event)" placeholder="Enter total quantity">
  <div class="text-danger" *ngIf="quantityIsEmpty">
    Qunatity is required
  </div>
</div>
   </div>
   <div style="display: flex;margin-bottom: 6%;">
    <div class="fields">
      <label>Price:</label><span class="red-asterik">*</span>
      <input type="number" class="form-control" name="price" ngModel [ngModel]="editPrice"  id="price"  min="1" (ngModelChange)="priceValueChange($event)" placeholder="Enter price/per unit">
      <div class="text-danger" *ngIf="priceIsEmpty">
        Price is required
      </div>
    </div>
    <div class="fields">
  <label>Category:</label><br>
  <div class="btn-group dropdown-class" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn form-control categroy-dropdown dropdown-toggle"
            aria-controls="dropdown-basic">
    </button>
    <span class="category-selected">{{selectedCategory}}</span>
    <span class="caret"></span>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu category-list"
        role="menu" aria-labelledby="button-basic">
        <li class="list-item" *ngFor="let category of categoryTypes" (click)="selectCategory(category)">{{category}}</li>
    </ul>
  </div>
  </div>
   </div>
   <div style="margin-bottom: 6%;">
    <label>Description:</label>
    <textarea cols="82" rows="5" style="border-color: #ccc;" name="description" ngModel [ngModel]="editDescription" placeholder="Enter product description"></textarea>
   </div>
   <div style="margin-bottom: 6%;">
    <label>Image Upload:</label>
    <input type="file" accept="image/*" multiple="true" name="images" (change)="onSelectFile($event)">
    <img [src]="editImage" *ngIf="!isAddItem && editImage &&!imageUrl" style="width: 10%;position: relative;left: 74%;top: -72px;">
  </div>
   <div class="modal-footer">
    <input type="submit" class="btn btn-primary">
  </div>
 </form>
</div>
